<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
 
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  
    <!-- Custom styles for this template -->
    <link href="presentacion.component.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <!-- <header class="mb-auto">
            <div> 
                <h3 class="float-md-start mb-0">Cover</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header> -->

        <main class="px-3">
            <h1>Labo IV.</h1>
            <h1 class="title">¡Hola, soy Santiago Sbaglia!</h1>
            <p class="description">Soy un desarrollador web con experiencia en Angular y otras tecnologías.</p>
            <p class="description">Mi objetivo es poder aplicar los conocimiento adquiridos de la materia.</p>
       
            <img src="/assets/image/utn3.jpeg" alt="foto-santi" class="centered-image fade-in" style ="width: -webkit-fill-available;">
              
          </main>

        <footer class="mt-auto text-white-50">
        </footer>
    </div>

    <div class="photo-container">
        <img src="/assets/image/foto_santi.png" alt="foto-santi" class="centered-image fade-in">
    </div>
</body>
</html>
