.quien-soy-container {
  background-color: #f7f7f7;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.description {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
}

/* Efecto de hover en el título */
.title:hover {
  color: #007bff;
  text-decoration: underline;
  transition: color 0.3s ease;

}
.photo-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%;
}

.centered-image {
  max-width: 100%; /* Ajusta el tamaño de la imagen según el contenedor */
  max-height: 100%;
}

/* Agrega un estilo para la animación de la imagen */
.fade-in {
  opacity: 0; /* Comienza invisible */
  animation: fadeIn 2s ease-in-out forwards; /* Animación de fade-in */
}

/* Definición de la animación */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}