<div class="home-container">
  <h1>Bienvenido a la Plataforma de Juegos</h1>
  <div >  <p>Elige un juego para comenzar:</p></div>
  
  
  <ul>
    <li>
      <button routerLink="/juego-ahorcado" class="btn btn-primary">Juego Ahorcado</button>
    </li>
    <li>
      <button routerLink="/juego2" class="btn btn-primary">Juego 2</button>
    </li>
    <li>
      <button routerLink="/juego3" class="btn btn-primary">Juego 3</button>
    </li>
    <!-- Puedes agregar más juegos aquí -->
  </ul>
</div>